<nav class="navbar navbar-deafult">
    <div class="container-fluid">
        <a href="" class="navbar-brand">
            Twitter Analyst
        </a>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/top">Top terms</a></li>
    </ul>
</nav>